<ul>
    <li><p>Platform: {{process.platform}}</p></li>
    <li><p>Node version: {{process.version}}</p></li>
    <li><p>Total memory: {{memoryUsage}}</p></li>
    <li><p>Executable path: {{process.execPath}}</p></li>
    <li><p>Process id: {{process.pid}}</p></li>
    <li><p>Project folder: {{process.cwd}}</p></li>
</ul>