{{#if session}}
        {{>header productsButton='true' cartButton='true'}}
    <div class="container w-100 d-flex flex-column justify-content-center">
        <div class="w-100 d-flex align-items-center justify-content-center">
            {{#if orders}}
                <div class="w-75 d-flex flex-column align-items-center justify-content-center">
                    <h1>Ordenes realizadas</h1>
                    <table class="table tablaProductos col-md-4 ">
                        <thead>
                            <tr class="table-dark">
                                <th scope="col" class="text-center align-middle">Numero de orden</th>
                                <th scope="col" class="text-center align-middle">Estado</th>
                                <th scope="col" class="text-center align-middle">Direccion</th>
                                <th scope="col" class="text-center align-middle">Detalle</th>
                            </tr>
                        </thead>
                        <tbody id="listadoOrdenes">
                        {{#each orders}}
                            {{#each this}}
                            {{#if this}}
                                <tr class="text-center align-middle">
                                    <td class="text-center align-middle">{{orderNumber}}</td>
                                    <td class="text-center align-middle">{{status}}</td>
                                    <td class="text-center align-middle">{{address}}</td>
                                    <td class="text-center align-middle">
                                         {{#if items}}
                                        <table class="table tablaProductos col-md-4 ">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-center align-middle">Cantidad</th>
                                                    <th scope="col" class="text-center align-middle">Producto</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each items}}
                                                <tr class="text-center align-middle">
                                                    <td class="text-center align-middle">{{quantity}}</td>
                                                    <td class="text-center align-middle">{{titulo}}</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                        {{/if}}
                                    </td>
                                    
                                </tr>
                            {{/if}}
                        {{/each}}
                        {{/each}}
                        </tbody>
                    </table>
                </div>          
            {{/if}}
        </div>
    </div>
{{/if}}

